extends ../../layouts/intro_layout

block content
  :t(render="markdown")
    here is some *markdown*
  img(src="http://www.haqjo.com/wp-content/uploads/2013/07/Funny-elephant-marry-me.jpg", width="250")

block content2
  :t(render="markdown")
    here is some **markdown** in content 2
